@{
    ViewBag.Title = "Privacy";
}

<h2>Privacy</h2>

Per continuare ad utilizzare il sito è necessario accettare i termini della privacy sottostanti.<br />
<span style="background-color: red">Il pulsante "Accetta" si attiverà una volta raggiunta la fine del documento.</span>
<br />
<br />

<div style="height: 300px; overflow: auto" id="terms">
    <p><b>MODELLO INFORMATIVA PRIVACY</b></p>

    <p><b>Informativa ai sensi e per gli effetti di cui all’art. 13, Decreto Legislativo 30 giugno 2003, n.</b></p>

    <p><b>196 (Codice in materia di protezione dei dati personali)</b></p>

    <p>Gentile Cliente/Fornitore/Agente</p>

    <p>Desideriamo informarLa che il D.lgs. n. 196 del 30 giugno 2003 ("Codice in materia di protezione</p>

    <p>dei dati personali") prevede la tutela delle persone e di altri soggetti rispetto al trattamento dei dati</p>

    <p>personali.</p>

    <p>Secondo la normativa indicata, tale trattamento sarà improntato ai principi di correttezza, liceità e</p>

    <p>trasparenza e di tutela della Sua riservatezza e dei Suoi diritti.</p>

    <p>Ai sensi dell'articolo 13 del D.lgs. n.196/2003, pertanto, Le forniamo le seguenti informazioni:</p>

    <p><b>Finalità del trattamento cui sono destinati i dati:</b></p>

    <p>1. I dati raccolti sono finalizzati all’espletamento dei seguenti servizi:</p>

    <p>Tutti i dati comunicati dai soggetti interessati, sono trattati esclusivamente per adempimenti</p>

    <p>connessi all'attività economica dell'azienda, in particolare:</p>

    <p>:: per l'inserimento nelle anagrafiche nei database informatici aziendali;</p>

    <p>:: per l'elaborazione di statistiche interne;</p>

    <p>:: per redigere relazioni tecniche in merito a servizi richiesti da clienti e/o potenziali;</p>

    <p>:: per l'emissione di documenti di trasporto, fatture e note accredito;</p>

    <p>:: per l'emissione di preventivi e offerte a clienti attivi e/o potenziali;</p>

    <p>:: per l'emissione di richieste di offerte a fornitori attivi e/o potenziali;</p>

    <p>:: per la tenuta della contabilità ordinaria e IVA;</p>

    <p>:: per la gestione di incassi e pagamenti;</p>

    <p>:: per l'invio di informative commerciali inerenti la propria attività o quella di aziende collegate</p>

    <p>a clienti attivi e/o potenziali;</p>

    <p>:: per soddisfare gli obblighi previsti dalle norme di legge, dai regolamenti, dalla normativa</p>

    <p>comunitaria, da norme civilistiche e fiscali;</p>

    <p>Ai fini dell’indicato trattamento, il titolare potrà venire a conoscenza di dati definiti “sensibili” ai</p>

    <p>sensi del D.lgs. n. 196/2003, quali quelli idonei a rivelare l’origine razziale od etnica, le convinzioni</p>

    <p>religiose, filosofiche o di altro genere, le opinioni politiche, l’adesione ai partiti, sindacati,</p>

    <p>associazioni od organizzazioni a carattere religioso, filosofico, politico o sindacale, lo stato di salute</p>

    <p>e la vita sessuale.</p>

    <p><b>Natura del conferimento dei dati e conseguenze di un eventuale rifiuto a rispondere:</b></p>

    <p>2. Il trattamento sarà effettuato con sistemi manuali ed automatizzati atti a memorizzare, gestire e</p>

    <p>trasmettere i dati stessi, con logiche strettamente correlate alle finalità stesse, sulla base dai dati in</p>

    <p>nostro possesso e con l’impegno da parte Sua/Vostra di comunicarci tempestivamente eventuali</p>

    <p>correzioni, integrazioni e/o aggiornamenti.</p>

    <p>3. Nell’ambito dei trattamenti descritti è necessaria la conoscenza e la memorizzazione di</p>

    <p>informazioni relative a dati anagrafici, codice fiscale, partita IVA, dati contabili.</p>

    <p>L’eventuale non comunicazione, o comunque errata, di una delle informazioni indicate ha come</p>

    <p>conseguenze emergenti:</p>

    <p>· L’impossibilità del titolare di garantire la congruità del trattamento stesso ai patti</p>

    <p>contrattuali per cui esso sia eseguito;</p>

    <p>· La possibile mancata corrispondenza dei risultati del trattamento stesso agli obblighi imposti</p>

    <p>dalla normativa fiscale, amministrativa o del lavoro cui esso è indirizzato.</p>

    <p><i>Il conferimento dei propri dati personali, da parte dei soggetti che intendono aprire un rapporto commerciale con la</i></p>

    <p><i>nostra azienda, anche se puramente informativo sulle nostre attività /servizi, e' da ritenersi facoltativo, ma il loro</i></p>

    <p><i>eventuale mancato conferimento potrebbe comportare la mancata prosecuzione del rapporto, del suo corretto</i></p>

    <p><i>svolgimento e degli eventuali adempimenti di legge, anche fiscali. I dati sono conservati presso la sede operativa della</i></p>

    <p><i>nostra ditta, per il tempo prescritto dalle norme civilistiche e fiscali.</i></p>

    <p><b>Ambito di comunicazione e diffusione dei dati:</b></p>

    <p>4. I Suoi/Vostri dati non sensibili potranno essere comunicati al fine di consentire l’adempimento</p>

    <p>degli obblighi contrattuali o di legge:</p>

    <p>- a tutti i soggetti cui la facoltà di accesso a tali dati è' riconosciuta in forza di provvedimenti</p>

    <p>normativi;</p>

    <p>- ai nostri collaboratori, dipendenti, agenti e fornitori, nell'ambito delle relative mansioni e/o di</p>

    <p>eventuali obblighi contrattuali con loro, inerenti i rapporti commerciali con gli interessati;</p>

    <p>- a società di factoring, società di recupero credito, società di assicurazione del credito;</p>

    <p>- agli uffici postali, a spedizionieri e a corrieri per l'invio di documentazione e/o materiale;</p>

    <p>- a tutte quelle persone fisiche e/o giuridiche, pubbliche e/o private (studi di consulenza legale,</p>

    <p>amministrativa e fiscale, studi di consulenza del lavoro per la compilazione delle buste paga,</p>

    <p>Uffici Giudiziari, Camere di Commercio, Camere ed Uffici del Lavoro, ecc.), quando la</p>

    <p>comunicazione risulti necessaria o funzionale allo svolgimento della nostra attività e nei modi e</p>

    <p>per le finalità sopra illustrate;</p>

    <p>- istituti bancari per la gestione d'incassi e pagamenti derivanti dall'esecuzione dei contratti;</p>

    <p>- allo Studio Chiarle, Bertolino, Cotto - Corso Pietro Chiesa, 35 - 14100 Asti,</p>

    <p>Partita IVA: 01420370056, studio che si occupa della tenuta della nostra contabilità.</p>

    <p>I Suoi/Vostri dati sensibili potranno essere comunicati al fine di consentire l’adempimento degli</p>

    <p>obblighi contrattuali o di legge:</p>

    <p>· Ad Enti Pubblici e Privati, anche a seguito di ispezioni o verifiche (quali Uffici dell’Agenzia</p>

    <p>delle Entrate, organi di Polizia Tributaria, Autorità Giudiziarie, Ispettorato del Lavoro, ASL,</p>

    <p>Enti Previdenziali, ENASARCO, Camere di Commercio, INAIL, Uffici delle Dogane) al</p>

    <p>solo fine di consentire l’espletamento dell’incarico affidatoci.</p>

    <p><b>Estremi identificativi del titolare e del responsabile:</b></p>

    <p>5. Il titolare del trattamento è Morra Giuseppe, codice fiscale MRR GPP 47C17 I495P</p>

    <p>in qualità di amministratore delegato della società Ghigo s.r.l. con sede legale in Via Pietro Mascagni, 14 – 20122 Milano e sede operativa in Via Industria, 38 – 14015 San Damiano d'Asti</p>

    <p>6. Il responsabile del trattamento è Morra Giuseppe</p>

    <p><b>Diritti di cui all’art. 7 del D.lgs. n. 196/2003:</b></p>

    <p>7. In ogni momento potrà esercitare i Suoi diritti nei confronti del titolare del trattamento, ai sensi</p>

    <p>dell'art.7 del D.lgs.196/2003, che per Sua comodità riproduciamo integralmente:</p>

    <p><b>Decreto Legislativo 30 giugno 2003, n. 196</b></p>

    <p><b>Codice in materia di protezione dei dati personali</b></p>

    <p><b><i>Art. 7 Diritto di accesso ai dati personali ed altri diritti</i></b></p>

    <p><b></b></p>

    <p><i>1. L'interessato ha diritto di ottenere la conferma dell'esistenza o meno di dati personali che lo</i></p>

    <p><i>riguardano, anche se non ancora registrati, e la loro comunicazione in forma intelligibile.</i></p>

    <p><i>2. L'interessato ha diritto di ottenere l'indicazione:</i></p>

    <p><i>a) dell'origine dei dati personali;</i></p>

    <p><i>b) delle finalità e modalità del trattamento;</i></p>

    <p><i>c) della logica applicata in caso di trattamento effettuato con l'ausilio di strumenti elettronici;</i></p>

    <p><i>d) degli estremi identificativi del titolare, dei responsabili e del rappresentante designato ai</i></p>

    <p><i>sensi dell'articolo 5, comma 2;</i></p>

    <p><i>e) dei soggetti o delle categorie di soggetti ai quali i dati personali possono essere comunicati o che possono venirne a conoscenza in qualità di rappresentante designato nel territorio dello Stato, di responsabili o incaricati.</i></p>

    <p><i>3. L'interessato ha diritto di ottenere:</i></p>

    <p><i>a) l'aggiornamento, la rettificazione ovvero, quando vi ha interesse, l'integrazione dei dati;</i></p>

    <p><i>b) la cancellazione, la trasformazione in forma anonima o il blocco dei dati trattati in violazione di legge, compresi quelli di cui non è necessaria la conservazione in relazione agli scopi per i quali i dati sono stati raccolti o successivamente trattati;</i></p>

    <p><i>c) l'attestazione che le operazioni di cui alle lettere a) e b) sono state portate a conoscenza, anche per quanto riguarda il loro contenuto, di coloro ai quali i dati sono stati comunicati o diffusi, eccettuato il caso in cui tale adempimento si rivela impossibile o comporta un impiego di mezzi manifestamente sproporzionato rispetto al diritto tutelato.</i></p>

    <p><i>4. L'interessato ha diritto di opporsi, in tutto o in parte:</i></p>

    <p><i>a) per motivi legittimi al trattamento dei dati personali che lo riguardano, ancorché pertinenti allo scopo della raccolta;</i></p>

    <p><i>b) al trattamento di dati personali che lo riguardano a fini di invio di materiale pubblicitario o di vendita diretta o per il compimento di ricerche di mercato o di comunicazione commerciale.</i></p>

    <p>Il sottoscritto interessato, con la firma apposta alla presente conferma di essere stato</p>

    <p>preventivamente informato dal titolare circa:</p>

    <p>a) Le finalità e le modalità del trattamento cui sono destinati i dati;</p>

    <p>b) La natura obbligatoria o facoltativa del conferimento dei dati;</p>

    <p>c) Le conseguenze i un eventuale rifiuto di rispondere;</p>

    <p>d) I soggetti o le categorie di soggetti ai quali i dati personali possono essere comunicati o che</p>

    <p>possono venirne a conoscenza in qualità di responsabili od incaricati, e l’ambito di</p>

    <p>diffusione dei dati medesimi;</p>

    <p>e) I diritti di cui all’art. 7 del D.lgs. n. 196/2003;</p>

    <p>f) Gli estremi identificativi del titolare e del responsabile.</p>

    <p>Per ricezione e presa visione, ai sensi dell’art. 13 del Decreto Legislativo 30 giugno 2003, n. 196.</p>

    <p><b>Consenso dell’interessato al trattamento, comunicazione e diffusione dei propri dati personali</b></p>

    <p>Il sottoscritto interessato, con la firma apposta alla presente attesta il proprio libero consenso</p>

    <p>acciocché il titolare proceda ai trattamenti di propri dati personali come riportati a pagina 1 della</p>

    <p>presente scheda, nonché alla loro comunicazione, nell’ambito dei soggetti espressamente risultanti</p>

    <p>alla predetta pagina di tale scheda.</p>

    <p>Prende altresì atto che l’eventuale esistenza di dati sensibili fra quelli raccolti è indicata in modo</p>

    <p>chiaro e, conscio di ciò, estende il proprio consenso anche al trattamento ed alla comunicazione di</p>

    <p>tali dati vincolandolo comunque al rispetto di ogni altra condizione imposta per legge.</p>

</div>
<br />
<br />
<center>
    @Html.ActionLink("Accetta", "Privacy", "Home", 
                new { ok = "accetto" },
                new { @class = "btn pop", style = "width: 80px", onclick = "return false;", id="btnAccetta" })
</center>
<br />
<br />

<script type="text/javascript">
    $(document).ready(function () {
        $('#terms').bind('scroll', function () {
            if ($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {
                $('#btnAccetta').addClass("red").attr('onclick', '').click(function () {
                    return confirm('Continuando confermerai di aver letto e accettato i termini qui sopra.');
                });
            }
        })
    });
</script>
