@using GhigoWeb.Models

@{
    ViewBag.Title = "Pagamento annullato";
}
<br />

<h3>Pagamento annullato.</h3>

Il pagamento è stato annullato.
<br /><br />

@Html.ActionLink("Torna alle offerte", "Offerte", "Ordini", null, htmlAttributes: new { @class = "btn small blue" })
