@{
    ViewBag.Title = "Index";
}

<h3>Gestione Listini- Il vostro browser NON è supportato</h3>

Per importare i listini è necessario usare <b>Chrome.</b>
<br /><br />

@Html.ActionLink("Torna indietro", "Index", null, new { @class = "btn pop pink" })