@{
    ViewBag.Title = "Conclusione Importazione";
}

<h3>Gestione Listini</h3>

L'importazione è terminata con successo.
<br />
Grazie
<br /><br />
@Html.ActionLink("Torna alla pagina iniziale", "Index", "Home", null, new { @class = "btn pop green" })
<br /><br />
