@{
    ViewBag.Title = "Index";
}

<h3>Gestione Listini</h3>

Salve, desideri:

<ol>
    <li>
        Scaricare un excel con la versione attuale dei listini &nbsp;
        <a class="btn small pop blue"
           target="_blank"
           href="/Report/Print?stored=APP_SP_REPORT_ORDINE_LISTINI_AGGIORNATI">
            Scarica il listino attuale
        </a>
    </li>
    <li>
        Proporre una modifica ai listini &nbsp; @Html.ActionLink("Importa modifiche da Excel", "ImportaModifiche", null, new { @class = "btn small pop orange" })
    </li>
    <li>
        Valutare ed applicare modifiche già importate &nbsp; @Html.ActionLink("Valuta le modifiche", "ValutaModifiche", null, new { @class = "btn small pop pink" })
    </li>
</ol>